*{
    padding: 0;
    margin: 0;
  
    list-style: none;
}

.row-1{
    width: 1000px;
    background-color:#343130 ;
    margin: auto;
    color: white;
    display: flex;
    padding: 10px;
}
.row-1-left{
    width: 50%;
    background-color:#343130 ;
    display: flex;
}
.row-2-right{
    width: 50%;
    background-color:#343130 ;
    text-align: right;
    display: flex;
}